
<mat-toolbar style="border-radius: none">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a href="/home">
      <mat-icon aria-hidden="false" fontIcon="arrow_back_ios_new"></mat-icon>
      <span>Home</span>
      </a>
    </button>
    <button mat-menu-item>
      <a href="/stocks">
      <mat-icon>insights</mat-icon>
      <span>My Portfolio</span>
      </a>
    </button>
    <button mat-menu-item>
      <a href="/stockstatus">
      <mat-icon>trending_up</mat-icon>
      <span>Investment Status</span>
    </a>
    </button>
    <button mat-menu-item>
      <a href="/stockstatus">
      <mat-icon>summarize</mat-icon>
      <span>Statements</span>
      </a>
    </button>
    <button mat-menu-item>
      <a href="/stockstatus">
      <mat-icon>settings_applications</mat-icon>
      <span>Settings.</span>
      </a>
      </button>
  </mat-menu>
 
  <span>Investment Portfolio</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>


<router-outlet></router-outlet>
 




