/*

body{
  margin: 0;
  padding: 0;
  
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  background-color: #4FD610;
  color: #f2f2f2;
}


.picture{
  
  width: 100%;
  height: 10vh;
 
}

img{
  width: 100%;
  margin-top: 0px;
  background-size: cover;
  
}
*/

/*bootstrap css*/
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
 margin: 0;
 padding:0;
 max-width: 100%;
 height: 100vh;
  background-color: aquamarine;
  background-image: url('/assets/images/bitcoin-media.jpg');
 
}


img{
  width: 100%;
  height: 100vh;
  height: auto;
  object-fit: cover;
  object-position: center;
   
}
